.ethiopia{
    width:150px;
    height:90px;
    
}
.a{
    height:30px;
    background-color:green;
}
.b{
 
    height:30px;
    background-color: yellow;
}
.c{

    height:30px;
    background-color: red;
}



.germany{
    width:150px;
    height:90px;
    margin-top:24px;
}
.d{
    height:30px;
    background-color:black;
}
.e{
 
    height:30px;
    background-color: red;
}
.f{

    height:30px;
    background-color: yellow;
}



.poland{
    width:150px;
    height:90px;
    padding-top:24px;
}
.g{
    height:45px;
    background-color:white;
}
.h{
 
    height:45px;
    background-color: red;
}




.ukrain{
    width:150px;
    height:90px;
    padding-top:24px;
}
.i{
    height:45px;
    background-color:#0099cc;
}
.j{
    height:45px;
    background-color: yellow;
}



.austria{
    padding-top:24px;
    width:150px;
    height:90px;
}
.k{
    height:30px;
    background-color: red;
}
.l{
    height:30px;
    background-color: white;
}



.bolivia{
    padding-top:24px;
    width:150px;
    height:90px;
}



.egypt{
    padding-top:24px;
    width:150px;
    height:90px;
}

.argentina{
    padding-top:24px;
    width:150px;
    height:90px;
}
.m{
    height:30px;
    background-color: #90c0f1;
}
.n{
    height:30px;
    background-color: white;
}

.iran{
    padding-top:24px;
    width:150px;
    height:90px;
}

.malawi{
    padding-top:24px;
    width:150px;
    height:90px;
}

.indonesia{
    padding-top:24px;
    width:150px;
    height:90px;
}
.india{
    padding-top:24px;
    width:150px;
    height:90px;
}

.q{
    height:30px;
    background-color: #d0bc33;
}